<link rel="stylesheet" href="index.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<script src="js/bootstrap.min.js"></script>
<div id="bookListWrapper">
    <!-- ng-controller="BookListCtrl" -->
    <!-- <form role="form">
      <div class=" search form-group">
        <input
          type="text"
          class=" search form-control"
          placeholder="Search here...."
        />
      </div> -->
      <div class="bookscontainer">
          <!-- <p>Please click on buy now to purchase a book.</p> -->
        <ul class="list-unstyled">
          <li class="book" ng-repeat="book in kart">
            <img class="bookimg" src="{{ book.img }}" alt="books" />
            <div class="book-details clearfix">
              <h3>{{ book.name }}</h3>
              <p class="price">{{ book.price | currency:'Rs.' }}</p>
              <ul class="list-unstyled list-inline">
                <li>{{ book.rating }}</li>
                <li>{{ book.Binding }}</li>
                <li>{{ book.Publisher }}</li>
                <li>{{ book.Released }}</li>
              </ul>
              <p>{{ book.details }}</p>
              <button
                class=" addButton btn btn-primary btn-sm"
                ng-click="buy(kart)"
              >
                Buy Now 
              </button>
            </div>
          </li>
        </ul>
      </div>
    <!-- </form> -->
</div>